.DS_Store
ind_setup/__pycache__/colors.cpython-312.pyc
ind_setup/__pycache__/plotting_int.cpython-312.pyc
ind_setup/__pycache__/plotting.cpython-312.pyc
ind_setup/__pycache__/plotting_tcs.cpython-312.pyc
